a:hover {
    text-decoration: none;
}

/* Account page */
.jokesTable {
}

.jokeInfo {

}

.newJokeButton {
    transition-duration: 0.5s;
    text-align: center;
    background-color: #133d55;
    color: #f9f9f9;
    width: 58.5%;
    padding: 10px;
    font-size: 40pt;
    border-radius: 40px;
    border: 6px inset #985f0d;
    margin: 30px auto;
}

.newJokeButton:hover {
    border-color: #eea236;
}

.formSubmit {
    transition-duration: .5s;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #761c19;
    background-color: #133d55;
    color: #f9f2f4;
}

.formSubmit:hover {

    border: 2px solid #ec971f;
    background-color: #2ca02c;
}

.jokeInfo:hover {
    cursor: pointer;
}

.content {
    font-size: 16pt;
    display: inline-block;
}

.date {
    font-size: 16pt;
    float: right;
    display: inline-block;
}

.returnToHome {
    position: fixed;
    margin-left: 50px;
    margin-top: -40px;
    font-size: 90px;
}

/* Info Page */
.jokeinfo-info {

}

.content-info {
    text-align: center;
    font-size: 20pt;
    color: #133d55;
}

.date-info {
    float: right;
}

.buttonsContainer-info {
    text-align: center;
}

.editButton-info, .deleteButton-info {
    color: black;
    padding: 5px;
    border-radius: 15px;
    width: 100px;
}

.individualButtonContainer-info {
    display: inline-block;
    font-size: 17pt;
    margin: 40pt;
}

.editButton-info {
    background-color: #3097D1;
}

.editButton-info:hover {
    background-color: #133d55;
    color: #ebebeb;
    cursor: pointer;
}

.deleteButton-info {
    background-color: #ac2925;
}

.deleteButton-info:hover {
    background-color: #761c19;
    color: #ebebeb;
    cursor: pointer;
}
