/*Misc essentials*/
* {
    margin: 0;
    padding: 0;
}
body, html{
    background-color: #f9f9f9;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*Homepage*/
.homePage{
    overflow: hidden;
}
.jokeContainer{
    transition-duration: 1s;
    height: 100vh;
}
.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


/*Title*/
.title {
    transition-duration:  1s;
    font-family: "Myanmar MN", Avenir, sans-serif;
    font-size: 60pt;
    text-align: center;
    color: #133d55;
    border-bottom: 2px solid #E6E7E8;
    vertical-align: bottom;
}
.betaText{
    font-family: Avenir, sans-serif;
    font-size: 20pt;
    color: #133d55;
    display: inline-block;
    position: absolute;
}


/*Joke*/
.joke {
    transition: margin 0s;
}
.joke:hover{
    cursor: pointer;
}
.jokeContent {
    font-family: "Myanmar MN", Avenir, sans-serif;
    font-size: 53pt;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
    text-align: center;
    transition: 0.5s;
    z-index: 100;
}

.jokeAuthor {
    font-family: "Myanmar MN", Avenir, sans-serif;
    font-size: 30pt;
    text-align: center;
    color: #999999;
    z-index: 100;
    margin-top: 30px;
    transition: 0.5s;
}

.jokeLikes {
    font-family: "Myanmar MN", Avenir, sans-serif;
    font-size: 30pt;
    text-align: right;
    float: right;
    margin-right: 30%;
    margin-left: -30%;
    color: #888888;
    z-index: 100;
    display: inline-block;
    transition: 0.5s;

}

/*Like images*/
.likeImageContainer{
    text-align: center;
    margin-left: -100px;
    overflow: hidden;
}
.likeImage{
    width: 100px;
    position: absolute;
    z-index: 0;
    transform: scale(0);
    opacity: 1;
    -webkit-transition: transform 2s, opacity 2s;
    transition: transform 2s, opacity 2s;
}

/*Down image*/
.downImageContainer {
    transition-duration: 1s;
    text-align: center;
    vertical-align: text-bottom;
    margin-top: -110px;
}
.downImage {
    transition-duration: 1s;
    transform: rotate(180deg);
    width: 100px;
    z-index: -100;
}
.downImage:hover{
    cursor:pointer;
}

/*Upload container*/
.uploadContainer{
    transition-duration: 1s;
    height: 0;

}

/*Buttons*/
a{
    color: #EEEEEE;
    text-decoration: none;
}
.buttonsContainer{
    margin-top: 25vh;
}

.button{
    transition: background-color, 0.4s;
    width: 200px;
    font-family: "Myanmar MN", Avenir, sans-serif;
    font-size: 40pt;
    text-align: center;
    background-color: #133d55;
    margin: 40px auto 20px auto;
    padding: 40px;
    border-radius: 40px;
    border: 6px inset #985f0d;
}
.button:hover{
    cursor: pointer;
    border-color: #eea236;
}

.accountsButton{
    transition: background-color, 0.4s;
    width: 400px;
    font-family: "Myanmar MN", Avenir, sans-serif;
    font-size: 40pt;
    text-align: center;
    background-color: #133d55;
    margin: 300px auto 20px auto;
    padding: 40px;
    border-radius: 40px;
    border: 6px inset #985f0d;
}
